<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.UserMapper">
    <select id="queryProvince" resultType="com.baizhi.entity.UserCount">
        select province name,count(*) value
        from user
        group by province
    </select>

    <select id="queryUserCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
<![CDATA[
        select count(*)
        from user
        where datediff(now(), reg_date) < #{integer}
        ]]>

    </select>

</mapper>
